/*common css*/
body{
	margin: 0;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/*common css end*/

/*header start*/
header{
	padding: 30px 0;
	border: 1px solid greenyellow;
}
.container{
	overflow: hidden;
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid red;*/

}
.logo{
	margin-top: 10px;
	float: left;
	width: 12%;
	/*border: 1 px solid;*/
}
.logo a{
	display: block;
}
.logo a img{
	width: 100%;
}
.menu{
	float: right;
	width: 65%;
	/*border: 1px solid;*/
}
.menu ul{
	float: right;
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	display: inline-block;
	padding: 0 50px;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
.menu ul li:last-child a{
	margin-right: 0;
}
/*header end*/

/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}
/*banner end*/